html {
    background-color: lightblue;
}

h1 {
    border: 3px solid;
    border-color: hotpink;
    border-radius: 5px;
    margin: auto;
}

div {
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    margin: auto;
}

img {
    border-radius: 5px;
    height: 300px;
    width: 300px;
}

